$white: #fff;
$black: #000;
$text: #D7D2B8;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    color: $white;
    font-family: 'Roboto Condensed';
}

a{
    text-decoration: none;
}

body{
    overflow: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    font-size: 2.135vw;
    margin: 0;
    font-weight: 700;
    line-height: 2.500vw;
}

h3{
    font-size: 1.302vw;
    font-weight: 700;
    line-height: 1.510vw;
    text-transform: uppercase;
    margin: 0;
}

p{
    font-size: 0.833vw;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    @media (max-width: 1600px) {
        font-size: 0.875vw;
    }
}

#app{
    position: relative;
}

.btn{
    display: inline-block;
    padding: 24px 30px;
    background: linear-gradient(180deg, #FFC000 0%, #F25322 50%, #EF4511 100%);
}

header{
    position: absolute;
    top: 0;
    left: 5.938vw;
    max-width: 19.219vw;
    .inner{
        position: relative;
        z-index: 1;
        .wrapper{
            position: relative;
            background: rgb(20, 20, 20);
            text-align: center;
            padding: 1em 1em 2em;
        }
        &::after{
            content: '';
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
            z-index: -1;
            margin: -3px;
            border-radius: inherit;
            background: linear-gradient(to top, red, orange);        
        }
        img{
            width: 15vw;
            margin-bottom: 15px;
        }
        h3{
            margin: 0;
        }
        a{
            margin-top: 2.135vw;
        }
    }
}

.content{
    position: absolute;
    top: 8.8541666666667vh;
    right: 9.948vw;
    margin: auto;
    padding: 1.563vw;
    background: rgba(0, 0, 0, 0.65);
    border: 4px solid #F25322;
    max-width: 32.021vw;
    width: 100%;
    .inner{
        position: relative;
        &::after{
            content: '';
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 48px;
            height: 48px;
            border: 5px solid #F25322;
            border-bottom-color: transparent;
            border-radius: 50%;
            animation: rotation 1s linear infinite;
        }
        &.active{
            &::after{
                display: inline-block;
            }
            &>*{
                opacity: 0;
                visibility: hidden;
            }
        }
        h1{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1.146vw;
        }
        .images{
            display: flex;
            align-items: center;
            justify-content: space-around;
            &__item{
                max-width: 114px;
                margin: 15px 0;
                text-align: center;
                img{
                    display: block;
                    margin: 0 auto 13px;
                    max-width: 60px;
                }
                span{
                    font-size: 18px;
                    color: $text;
                }
            }
        }
        table{
            width: 100%;
            tbody{
                tr{
                    border-bottom: 1px dashed #4B4B4B;
                    td{
                        padding: 0.260vw 0;
                        color: $text;
                        font-size: 0.833vw;
                    }
                }
            }
        }
    }
}

.steps{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5.208vh;
    display: grid;
    grid-template-columns: repeat(3, 20.833vw);
    justify-content: center;
    grid-gap: 3.125vw;
    max-width: 1480px;
    margin: 0 auto;
    z-index: 1;
    &__item{
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 2.563vh 2.563vh 5.125vh;
        border-radius: 6px;
        border-top: 5px solid #FFC000;
        border-bottom: 5px solid #EF4511;
        background-image: linear-gradient(to top, #EF4511, #FFC000), linear-gradient(to top, #EF4511, #FFC000);
        background-color: rgba(0, 0, 0, 0.65);
        background-size: 5px 100%;
        background-position: 100% 0, 0 0;
        background-repeat: no-repeat;
        .index{
            position: absolute;
            top: 8px;
            right: 12px;
            color: $white;
            font-size: 3.177vw;
            font-weight: 700;
        }
        h3{
            display:flex;
            align-items: center;
            min-height: 3.125vw;
            margin-bottom: 1.250vw;
        }
        p{
            color: $text;
        }
    }
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.990vh;
    text-align: center;
    color: $white;
    p{
        opacity: 0.6;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 